/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Variables CSS */
:root
{
	--header-height: 3rem;
	--font-semi: 600;
}
/* Colors */
:root
{
    --primary-color: #FFF;
    --secondary-color: #000;
    --hover: #EEEEEE;
    --shadow: rgba(0, 0, 0, .5);
}
.dark-theme
{
    --primary-color: #000;
    --secondary-color: #FFF;
    --hover: #181818;
    --shadow: rgba(255, 255, 255, .5);
}
/* Margens */
:root
{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}
/* Base */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
    overflow-x: hidden;
    background: #1A002A;
}
a
{
    text-decoration: none;
}
/* Layout */
.bd-grid
{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
.l-header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
/* Nav */
header
{
    position: fixed;
    width: 100%;
    height: 3.5rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
header.background
{
    background: var(--primary-color);
	box-shadow: 0 1px 4px rgba(100, 100, 100, 0.15);
}
.background .nav__logo
{
    color: var(--secondary-color);
}
.background .mobile-menu div
{
    background: var(--secondary-color);
}
header .nav
{
    width: 80%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px)
{
    header .nav .nav__container
    {
        position: fixed;
        top: 0;
        right: -60%;
        width: 60%;
        height: 100vh;
        padding: 2rem;
        padding-top: 4rem;
        background: var(--primary-color);
        transition: .5s;
    }
}
.logo
{
    display: flex;
    justify-content: center;
}
.nav__logo
{
    font-size: 1.2rem;
    color: var(--primary-color);
}
.nav__menu
{
    justify-content: flex-end;
}
.nav__logo,
.nav__menu
{
    z-index: 9999;
}
.mobile-menu
{
    cursor: pointer;
}
.mobile-menu div
{
    display: inherit;
    width: 25px;
    height: 2px;
    background: var(--primary-color);
}
.mobile-menu div.line-1
{
    margin-bottom: 6px;
    transition: .2s;
}
.mobile-menu div.line-3
{
    margin-top: 6px;
    transition: .2s;
}
/* Menu active close */
.close div
{
    background: var(--secondary-color);
}
.close div.line-1
{
    margin-bottom: -1px;
}
.close div.line-3
{
    margin-top: -1px;
}
.nav__item
{
    display: flex;
    justify-content: end;
    margin-bottom: var(--mb-4);
}
.link
{
    position: relative;
    right: 0;
    color: var(--secondary-color);
    transition: .3s;
}
.link:hover
{
    position: relative;
    padding-right: 1rem;
}
.link::after
{
    position: absolute;
    content: "";
    height: 0;
    width: 2px;
    right: 0;
    top: 0;
    background: var(--secondary-color);
    transition: .3s;
}
.link:hover::after
{
    height: 100%;
}
/* Active menu */
.active
{
    padding-right: 1rem;
}
.active::after
{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    right: 0;
    top: 0;
    background: var(--secondary-color);
}
.active
{
    color: var(--secondary-color);
}
/* Show menu */
.show
{
    right: 0 !important;
}
.close.line-3
{
    margin-top: 1px;
}
/* Section */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0BC59F 0%, #131586 40%, #1A002A 80%);
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1A002A, transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#ballon_behind,
#mountains_behind,
#moon,
#stars,
#cloud_1,
#cloud_2,
#cloud_3
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
section img#ballon_front
{
    z-index: 10;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: var(--primary-color);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    position: relative;
    padding: 8px 30px;
    border: 2px solid var(--primary-color);
    background: none;
    font-size: 1.5em;
    color: var(--primary-color);
    cursor: pointer;
    transition: color .4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transform: translateY(100px);
}
#btn:hover
{
    color: #1A002A;
    box-shadow: 0 0 10px var(--shadow);
}
#btn::before
{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: var(--primary-color);
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5,1.6,.4,.7);
}
#btn::before
{
    transform: scaleY(0);
}
#btn:hover::before
{
    transform: scaleY(1);
}
/* Sec */
.sec
{
    position: relative;
    height: 100vh;
    padding: 100px;
    background: #1A002A;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
}
.sec p
{
    font-size: 1.2em;
}
@media screen and (max-width: 768px) {
    section img#ballon_front
    {
        margin-left: -40%;
        width: 1000px;
        object-fit: scale-down;
    }
    section img#moon
    {
        margin-top: -100px;
        margin-left: -75%;
        width: 1000px;
        object-fit: scale-down;
    }
    #text
    {
        font-size: 20vw;
        z-index: 11;
    }
    .sec
    {
        padding: 2rem;
    }
}
@media screen and (min-width: 768px) {
    body
	{
		margin: 0;
	}
	.section
	{
		margin-top: 4rem;
		margin-bottom: 3rem;
	}
	.section-title
	{
		margin-bottom: var(--mb-6);
	}
	.section-title::after
	{
		width: 80px;
		top: 3rem;
	}
    
    header.background
    {
        background: none;
        box-shadow: none;
    }
    .background .nav__logo
    {
        color: var(--primary-color);
    }
    .nav__logo
    {
        font-size: 1.5rem;
    }
    header .nav
    {
        width: 100%;
    }
	.nav
	{
		height: calc(var(--header-height) + 1rem);
	}
	.nav__list
	{
		display: flex;
		padding-top: 0;
	}
	.nav__item
	{
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav__menu
	{
		display: none !important;
	}
    .link
    {
        font-size: 1.2rem;
        color: var(--primary-color);
    }
    .link:hover
    {
        position: relative;
        padding-right: 0;
    }
    .link::after
    {
        content: "";
        position: absolute;
        height: 2px !important;
        width: 0;
        top: 100%;
        left: 0;
        background: var(--primary-color);
    }
    .link:hover::after
    {
        width: 100%;
    }
    .active
    {
        padding-right: 0;
    }
	.active::after
	{
		background-color: var(--primary-color);
	}
    .active::after
    {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        top: 100%;
        left: 0;
        background: var(--primary-color);
    }
}
@media screen and (min-width: 1024px)
{
	.bd-grid
	{
		margin-left: auto;
		margin-right: auto;
	}
}